#root {
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.active-zoom {
  transition: transform 0.2s ease;
  transform: scale(1.05);
}

.navbar-dark .nav-link:hover {
  background-color: #fff;           
  color: #222121 !important;       
  border-radius: 4px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* Contenedor principal que toma toda la altura menos header/footer */
.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
}

/* Asegura que el footer se quede abajo */
footer {
  flex-shrink: 0;
}
